
/* navbar */
#navbar{
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
#navbar ul li a{
    font-size: 1rem;
    padding:0px 7px;
    padding-bottom: 8px;
    flex-wrap:wrap;
}


/* home*/
#home{
    height:600px;
    flex-direction:column;
    padding:3px 67px;
}
#home::before{
    height:620px;
}
#home p{
    font-size:13px;
}
#home h1{
    font-size:20px;
}

/* services */
#Services{
    flex-direction:column;
}
#services .box{
    padding:33px;
    flex-direction:column;
} 

/* client-section*/
#clients{
    flex-wrap: wrap;
}
#clients img{
    width:67px;
    height:80px;
}

/* contact us */


/* footer */
 .h-primary{
    font-size:16px;
}
.btn{
    font-size:13px;
    padding:4px;
}